$black-normal: #434343;
$black-mid: #6D6D6D;
$gray: #C1C1C1;

$pink-normal: #FD87B1;
$pink-mid: #FF99D0;
$pink-light: #F7EDFF;

$cream-normal: #FEBEBE;
$cream-normal: #FFCBD7;
$cream-normal: #FFE0F3;

$bg-color: #F8F8F8;

$dark-pink: #F94465;