h1,h2,a {
    font-family: 'Concert One', cursive;
}

p {
    font-family: 'Raleway', sans-serif;
}

.link {
    color: $pink-normal;
    font-size: 24px;
    padding: 8px 8px;

    transition: 0.5s ease;

    position: relative;

    &::after{
        content: '';
        display: block;

        position: absolute;
        top: 100%;
        left: 0;

        width: 0%;
        height: 2px;

        transform: translate(20%, -50%);
        transition: 0.5s ease;

        background-color: $pink-mid;
    }

    &:hover {
        color: $pink-mid;

        &::after{
            width: 70%;
    }
}
}


h1{
    font-size: 80px;
}

h2{
    font-size: 24px;
}

p{
    font-size: 24px;
}

a {
    font-size: 24px;
    text-decoration: none;
}